<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/head', { title: 'All Posts' }) %>
  <link rel="stylesheet" href="/styles/posts.css">
</head>

<body>
  <%- include('includes/header') %>
  <main id="all-posts">
    <h1>All Posts</h1>
    <% if(!posts){ %>
      <h2>No post was found. Please try to create new post</h2>
    <% } else{ %>
      <ul id="posts-list">
        <% for (const post of posts){ %>
          <%- include('includes/post-item',{post:post}) %>
        <%}%>
      </ul>
    <% } %>


  </main> 
</body>

</html>